<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>eShop</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="app">
		<header class="header">
			<div class="search-wrap">
				<input type="text" v-model="searchLine" class="goods-search" />
				<button class="search-button" type="button" v-on:click="filterGoods(searchLine)">Искать</button>
			</div>
			<button class="cart-button" type="button" v-show="isVisibleCart">Корзина</button>
		</header>
		<main>
			<div class="goods-list">
				<div class="goods-item" v-for="good in filteredGoods">
					<h3>{{ good.product_name }}</h3>
					<p>{{ good.price }}</p>
				</div>
			</div>

		</main>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="js/script2.js"></script>
</body>

</html>